#section_stats {
    width: 100%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "leaderboard user_stats global_stats";
}

#leaderboard {
    grid-area: leaderboard;
}

#user_stats {
    grid-area: user_stats;
}

#global_stats {
    grid-area: global_stats;
}

.tableau {
    text-align: center;
    border-collapse: collapse;
}

.tableau,  th, td {
    border: 1px solid;
}

.tableau {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    border-radius: 20%;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

th {
    background-color: rgb(14, 230, 194);
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

tr:nth-child(even) {
    background-color: #f3f3f3;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:hover {
    background-color: #f1f1f1;
}

td:first-child {
    font-weight: bold;
    color: rgb(11, 209, 176);
}

tr {
    transition: background-color 0.2s ease-in-out;
}
